//helper for font weight
//Neuton:200,400,700,800
.font-light {
	font-weight: 200;
}
.font-weight-normal {
	font-weight: 400;
}
.font-bold {
	font-weight: 700;
}
.font-heavy {
	font-weight: 800;
}

.wrap {
	min-height:100%;
	position: relative;
}

.site-footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background: $white;
	padding-top:.1rem;
	color: $primary-color;
	ul, p {
    font-size: .75rem;
		margin-bottom:0;
	}
	@media #{$small-up} {
		height:2rem;
	}
	@media #{$medium-up} {
		height:2rem;
	}
	@media #{$large-up} {
		height:1.5rem;
	}
}

.home {
	text-align: center;
	display: flex;
  flex-direction: column;
  justify-content: center;
	min-height: 75vh;
	h1 {font-size: 6rem;}
	p {font-size: 2rem;}
}

.content.row {
	padding-top: 2rem;
	@media #{$small-up} {
		padding-bottom:6rem;
	}
	@media #{$medium-up} {
		padding-bottom:5rem;
	}
	@media #{$large-up} {
		padding-bottom:4rem;
	}
}

.archive-link a {
    padding-bottom: 1.5rem;
}

.post-time {
	white-space: nowrap;
}
