---
layout: default
single: true
---

<article>
  <h1>{% if site.titlecase %}{{ page.title | titlecase }}{% else %}{{ page.title }}{% endif %}</h1>
  <h4>{% include post/date.html %}{% if updated %}{{ updated }}{% else %}{{ time }}{% endif %} {% include post/categories.html %}</h4>
  {{ content }}
</article>

<div class="archive-link">
  {% if page.previous.url %}
    <a class="pull-left" href="{{page.previous.url}}" title="Previous Post: {{page.previous.title}}">&laquo; Previous: "{{page.previous.title}}"</a>
  {% endif %}

  {% if page.next.url %}
    <a class="pull-right" href="{{page.next.url}}" title="Next Post: {{page.next.title}}">Next: "{{page.next.title}}" &raquo;</a>
  {% endif %}
</div>
